:root {
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #61afef;
  --cyan: #56b6c2;
  --light-red: #e06c75;
  --dark-red: #be5046;
  --comment-gray: #5c6370;
  --magenta: #c678dd;
}

pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 5px;
  background-color: #1d2e3a;
}

code.ziggy {
  color: var(--cyan);
}

code.ziggy .keyword,
code.ziggy .type {
  color: var(--light-yellow);
}
code.ziggy .string {
  color: var(--dark-yellow);
}
code.ziggy .numeric.constant {
  color: var(--magenta);
}
code.ziggy .function {
  color: var(--blue);
}


code.c {
  color: var(--cyan);
}
code.c .keyword,
code.c .type {
  color: var(--light-yellow);
}
code.c .string {
  color: var(--dark-yellow);
}
code.c .numeric.constant {
  color: var(--magenta);
}
code.c .function {
  color: var(--blue);
}

code.cpp {
  color: var(--cyan);
}
code.cpp .keyword,
code.cpp .type {
  color: var(--light-yellow);
}
code.cpp .string {
  color: var(--dark-yellow);
}
code.cpp .numeric.constant {
  color: var(--magenta);
}
code.cpp .function {
  color: var(--blue);
}

code.zig {
  color: var(--cyan);
}
code.zig .keyword,
code.zig .type {
  color: var(--light-yellow);
}
code.zig .string {
  color: var(--dark-yellow);
}
code.zig .numeric.constant {
  color: var(--magenta);
}
code.zig .function {
  color: var(--blue);
}

code.typescript,
code.ts {
  color: var(--cyan);
}
code.typescript .keyword,
code.typescript .type,
code.ts .keyword,
code.ts .type {
  color: var(--light-yellow);
}
code.typescript .string,
code.ts .string {
  color: var(--dark-yellow);
}
code.typescript .numeric.constant,
code.ts .numeric.constant {
  color: var(--magenta);
}
code.typescript .function,
code.ts .function {
  color: var(--blue);
}
