:root {
  --light-yellow: #F7C66A;
  --dark-yellow: #b9944e;
  --blue: #5EA2B8;
  --cyan: #71acab;
  --light-red: #BC6E4F;
  --dark-red: #C26867;
  --text-white: #cacaca;
  --text-offwhite: #999;
  --comment-gray: #7F7F7F;
  --magenta: #AA88C7;
  --olive: #A0B978;
}

pre {
  padding: 10px;
  background-color: #202020;
}

code.c {
  color: var(--text-white);
}
code.c .delimiter {
  color: var(--text-offwhite);
}
code.c .comment {
  color: var(--comment-gray);
}
code.c .keyword {
  color: var(--blue);
}
code.c .type {
  color: var(--light-red);
}
code.c .string {
  color: var(--olive);
}
code.c .numeric.constant {
  color: var(--magenta);
}

code.cpp {
  color: var(--text-white);
}
code.cpp .delimiter {
  color: var(--text-offwhite);
}
code.cpp .comment {
  color: var(--comment-gray);
}
code.cpp .keyword {
  color: var(--blue);
}
code.cpp .type {
  color: var(--light-red);
}
code.cpp .string {
  color: var(--olive);
}
code.cpp .numeric.constant {
  color: var(--magenta);
}

code.zig {
  color: var(--text-white);
}
code.zig .punctuation_delimiter, .punctuation_bracket, .operator {
  color: var(--text-offwhite);
}
code.zig .comment {
  color: var(--comment-gray);
}
code.zig .keyword, .keyword_import, .keyword_function, .keyword_modifier, .keyword_conditional, .keyword_type, .keyword_return {
  color: var(--blue);
}
code.zig .type_builtin {
  color: var(--light-red);
}
code.zig .function_builtin {
  color: var(--dark-yellow);
}
code.zig .string {
  color: var(--olive);
}
code.zig .numeric.constant {
  color: var(--magenta);
}


code.cs {
  color: var(--text-white);
}
code.cs .punctuation_bracket {
  color: var(--text-offwhite);
}
code.cs .comment {
  color: var(--comment-gray);
}
code.cs .type{
  color: var(--blue);
}
code.cs .keyword{
  color: var(--blue);
}
code.cs .type {
  color: var(--light-yellow);
}
code.cs .string {
  color: var(--olive);
}
code.cs .numeric.constant {
  color: var(--magenta);
}
code.cs .function {
  color: var(--blue);
}
